### 필요한 패키지 로드

In [29]:
import pandas as pd
import numpy as np

### cell 개수가 20개 미만인 tray 제거

In [30]:
process = pd.read_csv("../DAT/data.csv")
process.head()

,lot_id,tray_id,rta1_tat,hta1_tat,rta2_tat,ocv1_tat,c1_tat,dc1_tat,c2_tat,dc2_tat,...,sa3_box_row,sa3_box_dan,socv3_ocv,ocv2_deltaocv,ocv1_deltaocv,m1_thick,m1_voltage,m1_res_ac,m1_mv,m1_voltage_an
0,LOT-100,TRAY-1002,217709,86476,4524,118,3580,405,453,405,...,54연,10단,3759.6,5.0,6.8,4709.0,37583.0,92.0,626.0,109.0
1,LOT-100,TRAY-1002,217709,86476,4524,118,3580,405,453,405,...,54연,10단,3760.4,5.1,6.8,4712.0,37591.0,92.0,606.0,5.0
2,LOT-100,TRAY-1002,217709,86476,4524,118,3580,405,453,405,...,54연,10단,3760.4,4.9,6.7,4737.0,37594.0,92.0,566.0,-10.0
3,LOT-100,TRAY-1002,217709,86476,4524,118,3580,405,453,405,...,54연,10단,3759.0,5.1,6.9,4709.0,37578.0,92.0,606.0,111.0
4,LOT-100,TRAY-1002,217709,86476,4524,118,3580,405,453,405,...,54연,10단,3759.0,5.0,6.7,4706.0,37577.0,93.0,606.0,-38.0

In [31]:
a = process.groupby(["tray_id"], as_index = False).size()
a

        tray_id  size
0     TRAY-1002    25
1     TRAY-1003    24
2     TRAY-1004    25
3     TRAY-1005    25
4     TRAY-1006    25
...         ...   ...
1775  TRAY-2787    21
1776  TRAY-2788    24
1777  TRAY-2789    25
1778  TRAY-2790    24
1779  TRAY-2791    25

[1780 rows x 2 columns]

In [32]:
a.groupby("size").count()

      tray_id
size
13          8
14         14
15        164
16        102
17        126
18         14
19         41
20         66
21        186
22         77
23        156
24        128
25        698

In [33]:
tray_values = a[a["size"] >= 20]["tray_id"].unique()
tray_values

array(['TRAY-1002', 'TRAY-1003', 'TRAY-1004', ..., 'TRAY-2789',
       'TRAY-2790', 'TRAY-2791'], dtype=object)

In [34]:
pro1 = process[process["tray_id"].isin(tray_values)]

a2 = pro1.groupby(["tray_id"], as_index = False).size()
a2.groupby("size").count()

      tray_id
size
20         66
21        186
22         77
23        156
24        128
25        698

In [35]:
#셀 개수가 20개 미만인 데이터 제거/ 이후 저장

drop_index = pro1[(pro1.isnull().any(axis=1)) & (pro1["judge"] == "양품")].index
total = pro1.drop(drop_index)


total.to_csv("../OUT/total_20_drop_0.csv", index=False)

### 결측치 대치

In [36]:
total[total.isnull().any(axis=1)]

,lot_id,tray_id,rta1_tat,hta1_tat,rta2_tat,ocv1_tat,c1_tat,dc1_tat,c2_tat,dc2_tat,...,sa3_box_row,sa3_box_dan,socv3_ocv,ocv2_deltaocv,ocv1_deltaocv,m1_thick,m1_voltage,m1_res_ac,m1_mv,m1_voltage_an
705,LOT-100,TRAY-1043,214549,86616,4293,118,3555,404,459,404,...,53연,04단,3759.0,5.0,7.1,NaN,NaN,NaN,NaN,NaN
2151,LOT-102,TRAY-1098,217540,87746,44156,118,3568,405,464,405,...,15연,11단,3756.0,7.5,9.9,NaN,NaN,NaN,NaN,NaN
5283,LOT-106,TRAY-1255,210948,87011,43332,118,3546,406,460,405,...,42연,02단,3758.3,4.8,6.7,NaN,NaN,NaN,NaN,NaN
5511,LOT-106,TRAY-1269,210073,88910,41912,118,3556,404,457,404,...,64연,13단,3759.0,6.6,6.6,NaN,NaN,NaN,NaN,NaN
5530,LOT-106,TRAY-1275,210069,89044,42197,119,3576,405,449,405,...,21연,10단,3758.2,6.4,6.4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30836,LOT-136,TRAY-2440,161449,86495,143708,119,3548,405,456,405,...,01연,02단,3759.2,4.9,6.9,NaN,NaN,NaN,NaN,NaN
32464,LOT-138,TRAY-2498,162568,86496,139802,118,3540,405,452,405,...,27연,08단,3758.8,5.0,7.0,NaN,NaN,NaN,NaN,NaN
34707,LOT-140,TRAY-2621,156507,89348,143280,118,3566,404,444,405,...,64연,04단,3759.5,3.9,5.8,NaN,NaN,NaN,NaN,NaN
38196,LOT-144,TRAY-2768,155936,86489,155874,120,3569,406,459,405,...,21연,02단,3758.9,3.6,5.4,NaN,NaN,NaN,NaN,NaN
38524,LOT-144,TRAY-2789,152622,87325,156035,118,3561,404,450,404,...,60연,06단,3758.1,6.0,8.2,NaN,NaN,NaN,NaN,NaN

In [37]:
#sa3의 열, 연, 단

tray_null = total[total["sa3_box_col"].isnull()]["tray_id"].unique()

for i in tray_null:
    total.loc[(total["tray_id"] == i) & (total["sa3_box_col"].isnull()), 
           "sa3_box_col"] = total[(total["tray_id"] == i) & (total["sa3_box_col"].notnull())]["sa3_box_col"].values[0]
    
    total.loc[(total["tray_id"] == i) & (total["sa3_box_row"].isnull()), 
           "sa3_box_row"] = total[(total["tray_id"] == i) & (total["sa3_box_row"].notnull())]["sa3_box_row"].values[0]
    
    total.loc[(total["tray_id"] == i) & (total["sa3_box_dan"].isnull()), 
           "sa3_box_dan"] = total[(total["tray_id"] == i) & (total["sa3_box_dan"].notnull())]["sa3_box_dan"].values[0]

In [38]:
null_list = ["socv2_ocv"] + list(total.isnull().sum()[-9:].index)

# 연속형 변수의 결측값을 tray_id별로 평균으로 대체
for column in null_list:
    tray_null = total[total[column].isnull()]["tray_id"].unique()
    
    for tray_id in tray_null:
        mean_value = total[(total["tray_id"] == tray_id) & (total[column].notnull())][column].mean()
        total.loc[(total["tray_id"] == tray_id) & (total[column].isnull()), column] = mean_value

In [41]:
total.isnull().sum().sum()

0

In [42]:
#데이터 저장
total.to_csv("data_fin.csv", index=False)